{{ form.hidden_tag() }}

{% for field in form if field.widget.input_type != "hidden" %}
{{ field.label }}
<div class="form-group">
    {{ field }}

    {% if field.errors %}
        {% for error in field.errors %}
            <p class="form-error">{{error}}</p>
        {% endfor %}
    {% endif %}
</div>
{% endfor %}
