{% if form_id is not defined %}
    {% set form_id = "image-form" %}
{% endif %}

{% if form_action is not defined %}
    {% set form_action = "" %}
{% endif %}

{% if form_title is not defined %}
    {% set form_title = "Upload Image:" %}
{% endif %}

{% include "imgform.0.html.j2" %}
{% include "imgform.1.html.j2" %}
{% include "imgform.2.html.j2" %}
