<form
    action="{{form_action}}"
    enctype="multipart/form-data"
    method="POST"
    id="{{form_id}}"
    class="cover-form"
>
    <h1 id="{{form_id}}-title" class="cover-form-title">{{form_title}}</h1>
