{% set title = "Register" %}
{% extends "base.html.j2" %}

{% block content %}
    {% include "banner.html.j2" %}
    
    <main>
        <h1>Register Account</h1>
        <p>Already have an account? <a href="/login">Log in</a> to an existing one!</p>

        <form method="POST">
            {% include "form.html.j2" %}

            <input type="submit" value="Register">
        </form>
    </main>
{% endblock content %}

{% block footer %}
    <script>
localStorage.removeItem("username");

const form = document.getElementsByTagName("form")[0];
form.onsubmit = () => localStorage.setItem("username", document.getElementById("username").value);
    </script>
{% endblock footer %}
