{% set title = user.username %}
{% extends "base.html.j2" %}

{% block content %}
    {% include "banner.html.j2" %}
    
    <div id="cover">
    {% if g.user == user %}
        <div class="flex">
        {% set form_id = "user-details-form" %}
        {% set form_action = "/user/" ~ user.username %}
        {% set form_title = "Edit User Details" %}

        {% include "imgform.0.html.j2" %}
            <h4>Username</h4>
            <div class="form-group">
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="{{user.username}}"
                >
            </div>
            
            <h4>Password</h4>
            <div class="form-group">
                <input
                    type="password"
                    name="password"
                    id="user-details-form-old-password"
                    placeholder="Old Password"
                    required
                >
            </div>
            <div class="form-group">
                <input
                    type="password"
                    name="new_password"
                    id="user-details-form-new-password"
                    placeholder="New Password"
                >
                <input
                    type="password"
                    name="confirm_new_password"
                    id="user-details-form-confirm-new-password"
                    placeholder="Confirm New Password"
                >
            </div>

            <h4>Description</h4>
            <div class="form-group">
                <textarea
                    name="description"
                    id="user-details-form-description"
                >{{user.description if user.description else ""}}</textarea>
            </div>

            <h4>NSFW Filter</h4>
            <p>You must be at least 18 years old to alter this setting.</p>

            <span>OFF </span>
            <input
                type="checkbox"
                name="nsfw_filter"
                value="1"
            {% if not user.is_18plus %}
                style="--color-r: 128; --color-g: 128; --color-b: 128;"
                disabled
            {% else %}
                style="--color-r: 255; --color-g: 0; --color-b: 0;"
            {% endif %}
            
            {% if not user.allow_risque %}
                checked
            {% endif%}
            >
            <span> ON</span>

            <h4>Profile Picture</h4>
        {% include "imgform.1.html.j2" %}
        {% include "imgform.2.html.j2" %}
        </div>
    {% endif %}
    </div>

    <div id="errors">
    {% for message in g.get_flashed_messages(false, ["error"]) %}
        <div>
            <i class="delete fas fa-times"></i>
            <p>{{message}}</p>
        </div>
    {% endfor %}
    </div>

    <div class="user">
        <img src="{{user.image}}" width="256" height="256">

        <header>
            <h1 id="username">{{user.username}}</h1>
        </header>

        <main>
            <p>Joined <time datetime="{{g.format_time(user.joined)}}"></time></p>

        {% if user.description is not none %}
            <p class="description">{{user.description}}</p>
        {% endif %}


        {% if user != g.user %}
            <button 
                id="follow"
            {% if user in g.user.following %}
                class="unfollow"
            >Unfollow</button>
            {% else %}
                class="follow"
            >Follow</button>
            {% endif %}
        {% else %}
            <button id="edit">Edit Profile</button>
        {% endif %}
            <hr>

            <h2>Stories</h2>
        {% if user.stories|length > 0 %}
            {% set NO_USERNAME = 1 %}
            <section class="stories">
            {% for story in user.visible_stories(g.user) %}
                {% include "story.html.j2" %}
            {% else %}
                <i>This user hasn't posted any stories.</i>
            {% endfor %}
            </section>
        {% else %}
            <i>User hasn't posted any stories.</i>
        {% endif %}

            <h2>Favorite Stories</h2>
        {% if user.favorite_stories|length > 0 %}
            <section class="stories">
            {% for story in user.favorite_stories if story.visible() %}
                {% include "story.html.j2" %}
            {% else %}
                <i>This user hasn't favorited any stories.</i>
            {% endfor %}
            </section>
        {% else %}
            <i>User hasn't favorited any stories.</i>
        {% endif %}

            <h2>Following Stories</h2>
        {% if user.following_stories|length > 0 %}
            <section class="stories">
            {% for story in user.following_stories if story.visible() %}
                {% include "story.html.j2" %}
            {% else %}
                <i>This user hasn't followed any stories.</i>
            {% endfor %}
            </section>
        {% else %}
            <i>User hasn't followed any stories.</i>
        {% endif %}
        </main>
    </div>
{% endblock content %}

{% block footer %}
<script>
{% if g.user is not none and user != g.user %}
const apiCall = window["apiCall"];
const followButton = document.getElementById("follow");
followButton.onclick = async () => {
    if (followButton.classList.contains("loading"))
        return;

    const method = followButton.className === "follow" ? "POST" : "DELETE";

    followButton.classList.add("loading");
    document.body.classList.toggle("cover");

    await apiCall(`user/{{user.username}}/follow`, method);

    document.body.classList.toggle("cover");
    followButton.className = method === "POST" ? "unfollow" : "follow";
    followButton.innerText =
        followButton.className.charAt(0).toUpperCase() +
        followButton.className.slice(1)
    ;
};
{% elif g.user is not none and user == g.user %}
const apiCall = window["apiCall"];
const editButton = document.getElementById("edit");
const editForm = document.getElementById("user-details-form");

editButton.onclick = () => {
    if (document.body.classList.contains("cover"))
        return;

    document.body.classList.add("cover");
    editForm.style.visibility = "visible";

    const cover = document.getElementById("cover");
    cover.onclick = (event) => {
        if (event.target === cover) {
            editForm.style.visibility = "";
            document.body.classList.remove("cover");

            cover.onclick = undefined;
        }
    };
};
{% endif %}
</script>
{% endblock footer %}
